/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */
/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0rem;
  z-index: 2022;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container nav .menu li {
  margin-right: 4.8rem;
}

header .container nav .menu-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4rem;
  gap: 3.4rem;
}

/* SECTION HERO*/

.s-hero {
  background: url(../images/s-hero-bg\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.s-hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s-hero .container .title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 59.2rem;
  margin-top: 24rem;
  padding-bottom: 6rem;
}

.s-hero .container .title-box h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
  text-align: center;
  color: var(--white-color);
}

.s-hero .container .title-box h1 span {
  color: var(--primary-color);
}

.s-hero .container .title-box h2 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 6rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2rem;
}

.s-hero .container .title-box p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  color: var(--primary-color);
}

.s-hero .container .title-box .techs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  margin-top: 2.3rem;
}

.s-hero .container .title-box .btn-primary{
  margin-top: 4rem;
  padding: 1rem 5.6rem;
}

/* section sucess */

.s-sucess{
  padding: 14.4rem 0;
  margin: 0 auto;
}
.s-sucess .container{
  display: flex;
  align-items: center;
  gap: 4.4rem;
}

.s-sucess .container .cards{
  display: flex;
}

.s-sucess .container .title-sucess h2{
  margin-top: 2rem;
  font-weight: 700;
}

.s-sucess .container .title-sucess h2 .bold{
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.s-sucess .container .cards .card{
  width: 100%;
  height: 30.4rem;
  background-color: var(--white-color);
  border-radius: 4px;
  margin-right: 3.1rem;
  cursor: pointer;
}

.s-sucess .container .cards .card .title-card{
  margin: 5rem 0;
  padding-right: 14.5rem;
  padding-left: 1.4rem;
}
/* active */
.s-sucess .container .cards .card.active{
  background-color: var(--primary-color);
}

.s-sucess .container .cards .card .title-card h3{
  font-family: "Inter";
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 7.7rem;
  margin-bottom: 5.5rem;
}

.s-sucess .container .cards .card .body-card p{
  font-family: "Inter";
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.9rem;
}

/* section about */
.s-about{
  background-color: var(--black-color-medium);
  padding: 6rem 0;
}
.s-about .container{
  display: flex;
  justify-content: space-between;
}

.s-about .container .title-about{
  width: 100%;
  max-width: 71rem;
}

.s-about .container .title-about p{
  font-weight: 400;
  line-height: 2.4rem;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.83);
  margin-top: 2.4rem;
}

.s-about .container .title-about ul{
  display: flex;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.s-about .container .img-about img{
  border-radius: 4px;
}